@import "tailwindcss";
@import url("https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100..900;1,100..900&family=Merienda:wght@300..900&family=Shizuru&family=Shrikhand&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Parisienne&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100..900;1,100..900&family=Merienda:wght@300..900&family=Shizuru&display=swap");

@theme {
  --font-parisienne: {"parisienne", "sans-serif"};
  --font-shrik: "Shrikhand", "sans-serif";
  --font-shizuru: "Shizuru", "sans-serif";
  --font-jost: "Jost", "sans-serif";
  --shadow-3xl: 0 35px 35px rgba(0, 0, 0, 0.25);
}

body{
    color: white;
    font-style: normal;
    background-color: rgb(76, 149, 64);
}
.tagline{
    line-height: 1.5;
    width: 100%;
    font-size: 30px;
}
.intro{
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    color: yellow;
}
.int{
    line-height: 1.8;
}
.intr{
    text-shadow: 2px 2px 6px rgba(0, 0, 0, 0.5);
}
.in{
    -webkit-text-stroke: 1px black;
}
.introdu{
    -webkit-text-stroke: 0.5px black; 
}
.introd{
    -webkit-text-stroke: 0.5px white; 
}


@layer components{
    .nav_components{
        @apply text-xl text-white ml-5 my-auto
    }
}